<div ng-controller="HomeController">
<div class="col-md-12">
    <h1>{{home.title}}</h1>
    <h2>Current Users</h2>
    <ul>
        <li ng-repeat="user in home.users">
            {{user.name}}
        </li>
    </ul>

</div>
<!-- /.col-md-12 -->
<div class="col-md-4">

        <h4> I'm a function attached to the controller</h4>
        <p>Scope is being removed in angular2! So we are some what future proofing our app </p>
        <button ng-click="home.hello();">Click Me</button>

        <h4> That's not to say we can't still use the scope</h4>
        <button  ng-click="helloWorld()" ng-init="count=0">Click Me</button>




</div>
</div>